<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mani.car.mekongk1"
          android:installLocation="internalOnly"
          android:versionCode="7"
          android:versionName="1.0.78">
    <!--么控K1改么控K1版本3 1.0.3  4 1.0.64-->
    <!-- 允许安装未知来源app -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 个推SDK权限配置开始 -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!-- 支持个推3.0 电子围栏功能 -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}"/>

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal">
    </permission>

    <!-- 个推SDK权限配置结束 -->
    <!-- 系统 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>-->
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 开机启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- gps_baidu map -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"/>
    <!--<uses-permission android:name="android.permission.READ_LOGS"/>-->
    <!--<uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <!-- 震动,audio,camera权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO"/>-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--<uses-permission android:name="android.permission.CALL_PHONE"/>-->
    <!--窗口-->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--拍照-->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <!--蓝牙-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!--<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>-->
    <uses-permission android:name="android.permission.PERMISSION_READ_ENCRYPTED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--<uses-permission android:name="android.permission.DEVICE_POWER"/>-->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>

    <application
        android:name="com.mani.car.mekongk1.common.GlobalContext"
        android:allowBackup="true"
        android:enabled="true"
        android:largeHeap="true"
        android:icon="@drawable/push"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--android:persistent="true"熄屏不要杀死-->
        <!--signingReport keytool -v -list -keystore androidJava_key.jks
        MD5: 7B:B1:8D:1A:F8:48:87:E3:D5:33:7B:F3:5B:1A:AE:A8
        SHA1: 28:2B:DE:93:43:CF:0E:BB:61:97:E4:18:2B:C1:02:E8:55:DE:31:AA
        不同版本注意修改：
        1.appID 2.logo 3.flash 4.shareUrl+shareImage 5.companyInfo
        6.微信，百度，友盟 appKey   百度Activity包位置
        7.cid channel-->
        <!--不同项目以下属性不同-->
        <!--//么控K1微信，APPID：wx57918bf52bad59cb   AppSecret：9ff85c03b51992587c323a08d4a89edb-->

        <meta-data
            android:name="cid"
            android:value="8"/>
        <meta-data
            android:name="channel"
            android:value="${CHANNEL_VALUE}"/>
        <meta-data
            android:name="WX_APPKEY"
            android:value="wx57918bf52bad59cb"/>
        <!--签名去冒号小写：微信-->
        <!--APPID：wx57918bf52bad59cb   AppSecret：9ff85c03b51992587c323a08d4a89edb-->
        <meta-data
            android:name="QQ_SHARE"
            android:value="tencent101388546"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bf3d247b465f54aec000041"/>
        <!--umeng changed-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ChannelSelf"/>
        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"/>
        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":remote"/>-->

        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="48ae76de3f"/>
        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="83PUt3bLVH2CdD7twtN52Aab7djPvZkO"/>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mani.car.mekongk1"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="com.mani.car.mekongk1.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mani.car.mekongk1.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mani.car.mekongk1.ui.flash.ActivityFlash"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mani.car.mekongk1.ui.login.ActivityLogin"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
           />
        <!--android:process=":pushservice"不能加，加了收不到UI消息-->
        <activity
            android:name="com.mani.car.mekongk1.ui.home.ActivityHome"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.gusturepassword.ActivityGesturePassword"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.gusturepassword.gestureedit.ActivityGestureEdit"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.registerorchangepassword.ActivityRigisterOrChangePassWord"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.useragreement.ActivityUserAgreeMent"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.useragreement.ActivityUserAgreeMentPravate"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.registerorchangepassword.besurepassword.ActivityMakeSurePW"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.ActivityPersonCenter"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.personinformation.ActivityPersonInformation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.personinformation.changeusername.ActivityPersonChangeUserName"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.aboutus.ActivityAboutUs"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.aboutus.publicnumber.ActivityPublicNumber"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.aboutus.company_profile.ActivityCompanyProfile"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.help.ActivityHelp"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.help.sugest.ActivitySugest"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.help.service.ActivityPersonService"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.plate_manager.ActivityPlateManager"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.know_product.ActivityKnowProduct"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.know_product.online.ActivityOnlineMessage"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.personinformation.cutpic.ActivityClipCutPic"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.appearance.ActivityAppearance"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.carblue.ActivityCarBlue"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.carmodule.ActivityCarMoudule"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.carmodule.ActivityCaUnActiveSuccess"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.manager.addcar.ActivityAddCar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.manager.ActivityCarManager"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.manager.carseries.ActivityCarSeries"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.message.ActivityMessageSwitch"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.message.ActivityMessageSet"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.recharge.ActivityRecharge"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.voice.voicelibrary.ActivityVoiceLibrary"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.voice.ActivityVoiceSet"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.message.ActivityVoiceAlertLibrary"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.lendcar.ActivityLendChooseDate"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.controlcar.borrowcar.ActivityBorrowCar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.controlcar.borrowcar.ActivityBorrowCarLongTime"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.foamtrace.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="com.foamtrace.photopicker.PhotoPreviewActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/PhotoPickerTheme"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.navifindcar.ActivityPCPosition"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.controlcar.borrowcar.borrowsuccess.ActivityBorrowSuccess"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!-- 导航组件 -->
        <activity
            android:name="com.mani.car.mekongk1.ui.navifindcar.WalkRouteCalculateActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.navifindcar.RideRouteCalculateActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.navifindcar.CustomCarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.controlcar.trajectory.ActivityTrajectory"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.controlcar.trajectory.ActivityLendChooseDateForTrajectory"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.carmanager.manager.carbrand.brand.MyBrandActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.mani.car.mekongk1.ui.personcenter.aboutus.company_profile.ActivityWeb"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <!-- 个推SDK配置开始 -->
        <activity
            android:name="com.mani.car.mekongk1.tencent.tauth.ShareTotencent"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101539768"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <!--个推-->
        <service
            android:name="com.mani.car.mekongk1.common.MyPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>
        <service android:name="com.mani.car.mekongk1.common.MyPushReceiveService"/>
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="com.igexin.sdk.action.refreshls"/>
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 个推SDK配置结束 -->
    </application>

</manifest>